@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, button, #friend-list {
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}
header {
    background-color: #202020;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.logo-container {
    margin-right: 20px; 
}
.logo {
    height: 50px; 
    width: auto; 
}
h1 {
    margin: 0; 
    flex-grow: 1; 
    text-align: left; 
}
main {
    flex-grow: 1;
    display: flex;
}
#game-container {
    flex-grow: 1;
    position: relative;
}

#friend-list {
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    width: 200px;
    background-color: black; 
    color: white;
    padding: 20px;
    overflow-y: auto;
}
#friend-list h2 {
    color: #f8f9fa;
}
#friend-list ul {
    list-style-type: none;
    padding: 0;
}
#friend-list li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#friend-list li + li {
    border-top: 1px solid #333;
}
.online-dot {
    height: 10px;
    width: 10px;
    background-color: #00ff00; 
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
#restartButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    outline: none;
}

#restartButton:hover {
    background-color: #0056b3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#restartButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
