
.main-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    padding: 20px;
}

.about-section {
    max-width: 800px; 
    text-align: justify; 
    margin: 20px; 
}

.about-section h1 {
    text-align: center; 
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.6; 
    margin-bottom: 20px; 
}

.footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    width: 100%; 
    position: relative; 
    bottom: 0; 
    left: 0;
}

.footer-content p, .footer-content a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
