body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    /* Modification de l'arrière-plan pour adopter un dégradé noir et jaune */
    background: linear-gradient(to top, #000000, #FFD700);
}

.quizz-container {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* Centrage du conteneur */
    transform: translate(-50%, -50%);
    /* Couleur de fond du conteneur ajustée pour plus de contraste */
    background: #333333;
    /* Ombre et bordure adaptées pour un look plus moderne et cohérent */
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

#container-questions, #container-content {
    margin: 0 0 1rem 0;
}

#quizz-img {
    width: 100%;
}

#quizz-question {
    margin: 3rem auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    /* Ajustement de la couleur du texte pour améliorer la visibilité */
    color: #FFD700;
}

#container-content label {
    display: block;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 18px;
    /* Couleur du texte des labels */
    color: #FFFFFF;
}

#container-content input {
    margin: 1rem 1rem;
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    background: none;
    /* Bordure inférieure pour les champs de saisie, adaptée au nouveau thème */
    border-bottom: 2px solid #FFD700;
    font-size: 20px;
    font-weight: 500;
    /* Couleur du texte saisi ajustée pour contraster avec le fond */
    color: #FFFFFF;
}

button {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 40px;
    /* Adaptation des couleurs pour le bouton */
    color: #000;
    font-weight: bold;
    font-size: 18px;
    /* Couleur de fond du bouton ajustée pour correspondre au thème */
    background: #FFD700;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
    border-radius: 10px;
}

button:hover {
    /* Couleur au survol du bouton pour un effet visuel */
    background: #FFA500;
}

#resultatFinal {
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    /* Couleur du texte ajustée pour correspondre au nouveau thème */
    color: #FFD700;
}
