.option-container {
    width: 500px;
    height: 60px;
    background-color: yellow;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

#gamesboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 214px;
    height: 214px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
    box-sizing: border-box;
}

.block{
    width: 20px;
    height: 20px;
    border: 1px solid black; /* Add a border to the blocks */
}

.destroyer{
    background-color: brown;
}

.submarine {
    background-color: green;
}

.cruiser {
    background-color: purple;
}

.battleship {
    background-color: orange;
}

.carrier{
    background-color: blue;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.destroyer-preview {
    background-color: red;
}

.submarine-preview {
    background-color: green;
}

.cruiser-preview {
    background-color: violet;
}

.battleship-preview {
    background-color: orange;
}

.carrier-preview {
    background-color: blue;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.3); /* Change this to the color you want for the highlight */
}

.block.hit {
    background-color: black;
}

.block.miss {
    background-color: white;
}

#computer .block.taken {
    background: none !important;
}

#computer .block.taken.hit {
    background: black !important;
}